.innerlo {
    background: rgb(249, 248, 250);
    border: solid 2px rgb(223, 159, 40);

    &.fade {
        opacity: 1;

        &.init {
            opacity: 0;
        }

        &.out {
            opacity: 0;
        }
    }

    &.move {
        position: relative;
        top: 0px;
        left: 0px;

        &.up {
            &.init {
                top: 400px;
            }

            &.out {
                top: -100px;
            }
        }
    }


    //topIcon animation
    .topIcon {
        opacity: 1;
        position: relative;
        // top:0;
        transition: all ease 700ms 400ms; // those later make them parametribale from innerlo
    }

    &.init {
        .topIcon {
            opacity: 0;
            // top: 50px;
        }
    }

    &.out {
        .topIcon {
            opacity: 0;
        }
    }

}




.innerloMessage_container {
    height: 100vh !important;
    position: fixed !important;

    .innerloMessageEl {
        border-color: rgb(233, 157, 17);

        .innerContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
            height: 100%;
            width: 100%;

            .topIcon {
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                // background: gray;
                margin-top: 20px;
            }

            .title {
                color: #3c3c3c;
                // color: rgb(185, 185, 185);
                font-size: 1.5rem;
            }



            .mainMessageContainer {
                max-height: 150px;
                overflow: auto;
                margin-bottom: 20px;
                border-radius: 5px;
                width: 100%;
                .mainMessage {
                    color: #575b74;
                    // background: #f9f9f9;
                    font-size: 1rem;
                    padding: 15px;
                    word-wrap: break-word;
                    width: 100%;
                }

                .edgesFade_externalContainer {
                    .edgesFade_container {
                        .edgesFade {
                            background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0), rgba(224, 224, 224, 0.9) 100%) !important;
                        }
                    }
                }
            }

        }
    }
}
